/* Styling AddNews-Component */

.AddNews .title {
    display: flex;
    width: 50vh;
    height: 25px;
    margin-top: 50px;
}

.AddNews .content {
    display: flex;
    height: 200px;
    width: 50vh;
    margin-top: 10px;
}

.AddNews .add-btns {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    margin-top: 10px;
}

.AddNews button {
    flex: 1;
}

.AddNews .upload {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #F9A800;
    color: #ffff;
}

.AddNews .publish {
    margin-left: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #F9A800;
    color: #ffff;
}

.AddNews .update {
    margin-left: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #F9A800;
    color: #ffff;
}

.AddNews .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.AddNews .popup-content {
    background-color: #383E42;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    position: relative;
    align-items: center;
    width: fit-content;
}

.AddNews .popup-content button {
    background-color: #F9A800;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}