/* Styling Contractslist-Component */

.Contractslist .objects ul {
    width: 80%;
    background-color: #ffff;
    color: #000f;
    list-style-type: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.Contractslist .contracts ul {
    width: 80%;
    background-color: #ffff;
    color: #000f;
    list-style-type: none;
    padding: 5px 10px;
    margin-top: 20%;
    border-radius: 10px;
}

.Contractslist .contracts li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Contractslist .download-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.Contractslist .objects {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    flex: 1;
    margin-right: 10px;
    max-height: 20em;
    overflow-y: scroll;
    scrollbar-width: none;
}