/* Styling Documentslist-Component */

.Documentlist .documents ul {
    width: 80%;
    background-color: #ffff;
    color: #000f;
    list-style-type: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.Documentlist .documnets ul {
    width: 80%;
    background-color: #ffff;
    color: #000f;
    list-style-type: none;
    padding: 5px 10px;
    margin-top: 20%;
    border-radius: 10px;
}

.Documentlist .documents li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Documentlist .download-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.Documentlist .delete-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.Documentlist .btn-add {
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: #F9A800;
    color: #ffff;
}
