/* Styling InputformAdmindata-Component */

.InputformAdmindata {
    display: flex;
    flex-direction: column;
}

.InputformAdmindata .inputForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.InputformAdmindata .inputForm input {
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 10px;
}

.InputformAdmindata .btn-addnew {
    background-color: #F9A800;
    width: 150px;
    color: #ffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}