/* Styling ObjectActions-Component */
.ObjectActions .rentedObjects {
    max-height: 50em;
}

.ObjectActions button {
    background-color: #F9A800;
    width: 150px;
    color: #ffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ObjectActions .objects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.ObjectActions ul {
    background-color: #ffff;
    color: #000f;
    list-style-type: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.ObjectActions li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ObjectActions .objects-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    word-wrap: break-word;
}

.ObjectActions .objects .objectImage {
    height: 150px;
    width: auto;
    margin-right: 10px;
}

.ObjectActions .objects h2, .ObjectActions .objects p {
    margin: 5px 0;
}

.ObjectActions .popup-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ObjectActions .popup-details-content {
    background-color: #383E42;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.ObjectActions .popup-details-content .delete-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.ObjectActions .popup-details-content .popup-details-textcontent {
    display: flex;
    flex-direction: column; 
    flex: 1; 
}

.ObjectActions .popup-details-textcontent {
    margin-left: 20px;
}

.ObjectActions .popup-details-content .objectImage {
    height: 200px;
    width: auto;
    margin-right: 50px;
}

.ObjectActions .actualContract {
    background-color: #ffff;
    color: #000f;
    list-style-type: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.ObjectActions .actualContract-content button{
    background-color: #F9A800;
    color: #ffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.ObjectActions .btn-upload {
    margin-left: 15px;
}

.ObjectActions .renter {
    margin-top: 20px;
    background-color: #ffff;
    color: #000f;
    list-style-type: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.ObjectActions .renter-content button {
    background-color: #F9A800;
    color: #ffff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.ObjectActions .popup-details-content button {
    background-color: #F9A800;
    margin-top: 10px;
    color: white;
    margin-top: 20px;
    align-self: flex-end;
}

.ObjectActions .btn-saveChanges {
    background-color: #ffff;
    color: #000f;
    list-style-type: none;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 10px;
}

.ObjectActions .popup-add {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ObjectActions .popup-add-content {
    background-color: #383E42;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    width: 70%;
}

.ObjectActions .left-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 80px;
    margin-top: 20px;
}

.ObjectActions .popup-add-content .delete-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.ObjectActions .popup-add-content .delete-icon-object {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 30px;
}

.ObjectActions .popup-add-textcontent {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
    margin-left: 80px;
}

.ObjectActions .popup-add-content button {
    background-color: #F9A800;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.ObjectActions .seperator {
    display: flex;
    flex-direction: column;
    width: 2px;
    background-color: #F9A800;
    margin: 0 20px;
    align-self: stretch;
}

.ObjectActions .dropdown {
    margin-top: 5px;
}

.ObjectActions .dropdown select {
    padding: 5px 10px;
    border-radius: 10px;
    width: 193px;
}

.ObjectActions input {
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
}

.ObjectActions .btn-uploadContract, .btn-addObject {
    width: fit-content;
}

.ObjectActions .new-object-type {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.ObjectActions .popup-add-textcontent input {
    width: fit-content;
}

.ObjectActions .gray-background {
    background-color: lightgray;
}

.ObjectActions .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ObjectActions .popup-content {
    background-color: #383E42;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: fit-content;
}

.ObjectActions .popup-content button {
    background-color: #F9A800;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.ObjectActions .object-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ObjectActions .edit-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.ObjectActions .delete-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}