/* Styling UserObjects-Component */

.UserObjects ul {
    width: 50%;
    background-color: #ffff;
    color: #000f;
    list-style-type: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.UserObjects li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UserObjects .user-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.UserObjects .delete-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.UserObjects .dropdown select {
    padding: 5px 10px;
    border-radius: 10px;
}

.UserObjects .btn-add {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #F9A800;
    color: #ffff;
    text-decoration: none;
}

.UserObjects .contract{
    margin: 20px 0px 20px 0px;
}

.UserObjects .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.UserObjects .popup-content {
    background-color: #383E42;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: fit-content;
}

.UserObjects .popup-content button {
    background-color: #F9A800;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.option,
.date,
.duration,
.extraCosts,
.contract,
label,
br {
    margin-top: 10px;
    margin-bottom: 10px;
}
