/* Styling der Mainpage_Admin-Component */

.Mainpage_Admin {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Mainpage_Admin main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.Mainpage_Admin .dashboard {
    display: flex;
    flex-direction: row;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    background-color: white;
    color: black;
    height: 50vh;
    padding: 50px;
    margin: 10px;
}

.Mainpage_Admin .heading {
display: flex;
flex-direction: row;
align-items: flex-start;
flex: 0.2;
}

.Mainpage_Admin .content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    align-items: center;
}

.Mainpage_Admin .leftCol, .rightCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.Mainpage_Admin .leftCol p, .rightCol p {
    margin: 10px 0;
    font-size: 22px;
}