/* Styling der Newsmanagement-Component */

.Newsmanagement {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.Newsmanagement main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 5%;
    padding-bottom: 10%;
    margin-top: 10vh;
}

.Newsmanagement .newslist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Newsmanagement .seperator {
    width: 2px;
    background-color: #F9A800;
    height: 100%;
    margin-left: 80px;
}

.Newsmanagement .addnews {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5%;
}