/* Styling der Objectmanagement-Component */

.Objectmanagement {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.Objectmanagement main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5%;
    margin-top: 10vh;
}

.Objectmanagement .objectPlan {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10%;
    width: 536px;
}

.Objectmanagement .rentedObjects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}