# Visual Studio
.vs/
*.sln
*.user
*.suo
*.cache
*.dbmdl
*.dbproj
*.jfm
*.pdb
*.ipch/
*.aps
*.obj
*.exe
*.dll
*.tmp
*.log
*.log.*
*.ncb
*.sdf
*.suo

# ASP.NET
bin/
obj/
Properties/launchSettings.json
*.db
*.pdb

# Node.js (React)
node_modules/
build/
dist/
*.env
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# macOS
.DS_Store

# Windows
Thumbs.db
