/* Styling Header&Header_Admin-Component */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    margin: 0 auto 0 auto;
    border-bottom: solid;
    border-color: #F9A800;
}

.header-logo img {
    height: 50px;
}

.header-navbar ul {
    display: flex;
    list-style: none;
}

.header-navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.header-navbar button {
    margin-left: 20px;
    background-color: #F9A800;
    color: #FFFFFF;
    border: none;
}
