/* Styling der Documentmanagement-Component */

.Documentmanagement {
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 15% 10%;
}

.contractslist {
    flex: 1;
}

.seperator {
    width: 2px;
    height: 100%;
    background-color: #F9A800;
    margin: 0 15%;
}

.documentslist {
    flex: 1;
    margin-right: 10%;
}