/* Styling der Loadingpage */

.Home {
    height: 100%;
    width: 100%;
}

.Home main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    margin: 10px;
}

.Home main h2, .Home main h3, .Home main p {
    width: 100%; 
    text-align: center;
}