/* Styling der Login-Page */

.loginPage {
    position: relative;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.loginPage .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../src/assets/moon.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.loginPage .loginFormContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.loginPage .loginFormContainer h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.loginPage .loginForm {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.loginPage .formGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.loginPage .formGroup label {
    font-size: 14px;
    margin-bottom: 5px;
    color: white;
}

.loginPage .formGroup input {
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 1px solid #f9a800;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.loginPage .formOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.loginPage .loginButton {
    padding: 10px;
    font-size: 16px;
    background-color: #F9A800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

.loginPage .loginButton:hover {
    background-color: #e08e00;
}

.loginPage .registerSection {
    text-align: center;
}

.loginPage .registerSection p {
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
}

.loginPage .registerButton {
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.loginPage .registerButton:hover {
    background-color: #555;
}

.loginPage .topRightImage {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: auto;
}

.loginPage .topRightImage img {
    width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 5px;
}

.loginPage #errorlbl {
    color: #f9a800;
}

@media (max-width: 768px) {
    .loginPage .loginFormContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px 20px;
        background-color: rgba(50, 50, 50, 0.95);
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loginPage .loginForm {
        max-width: 100%;
    }

    .loginPage .topRightImage {
        display: none;
    }

    .loginPage .loginForm {
        width: 100%;
        margin-right: 30px;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .loginPage .formGroup input,
    .loginPage .loginButton,
    .loginPage .registerButton {
        width: 100%;
        box-sizing: border-box;
    }
}
