/* Styling der Usermanagement-Component */

.Usermanagement_Admin {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.userlist {
    flex: 1;
}

.seperator {
    width: 2px;
    background-color: #F9A800;
}

.userdata {
    flex: 1;
    margin-right: 10%;
}

.object {
    flex: 1;
    position: relative;
}

.btn-update {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #F9A800;
    width: 150px;
    color: #ffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}